@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&family=Square+Peg&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(57, 139, 227);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 4rem;
}

.refresh {
  color: #fff;
  margin-left: 2rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.inner-container {
  display: flex;
  gap: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

input {
  width: 100%;
  padding: 18px;
  margin: 0.5rem 0;
  font-size: 22px;
  border-radius: 5px;
  outline: none;
}

.underline {
  width: 8rem;
  background-color: #fff;
  height: 0.2rem;
  margin: 0.5rem auto;
}

.add-btn {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 255, 0.437);
}

.display {
  width: 50%;
  padding: 15px;
}

.scores {
  border: 4px solid #fff;
  margin-top: 1rem;
}

.scores div:nth-child(even) {
  background-color: #c4c4c4;
}

.scores-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  margin-top: 10px;
}
